@font-face {
    font-family: 'netflix-sans';
    src: url('../fonts/NetflixSans_W_Md.woff2');
}

@font-face {
    font-family: 'netflix-sans-regular';
    src: url('../fonts/NetflixSans_W_Rg.woff2');
}

body{
    background-color: black;
    color: white;
    font-family: 'netflix-sans', sans-serif;
}

.aux {
    width: 92vw;
    margin: auto;
}

.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

.header__img {
    padding-top: .5em;
    width: 6em;
}

.title {
    font-size: 2em;
    margin-top: 10px;
}

.forms input {
    width: 100%;
    background-color: #333;
    border: none;
    margin-bottom: 1em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 0.875em;
}

.forms__logar{
    display: block;
    width: 100%;
    background-color: red;
    color: white;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1em;
}

.forms div {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125em;
    color: #b3b3b3
}

.forms div label input{
    width: 10%;
    display: inline;
    background-color: red;
}

.forms a {
    text-decoration: none;
    color: inherit;
}

.content {
    margin-top: 2em;
}

.content__title {
    color: #737373;
}

.content__title a {
    text-decoration: none;
    color: white;
}

.content__descript {
    font-size: 0.8125em;
    color: #8c8c8c;
}

.content__descript a {
    text-decoration: none;
}

.footer {
    border-top: 1px solid #b3b3b3;
}

.footer {
    margin-top: 5em;
    padding-bottom: 2em;
}

.footer__title {
    color: #737373;
}

.footer__list {
    list-style-type: none;  
    clear: both;  
    margin: 0;
    padding: 0;
}

.footer__list a {
    text-decoration: none;
    font-size: 0.8125em;
    color: #737373;
}

.footer__list li{
    float: left;
    width: 48%;
    margin: 1%;
}

@media screen and (min-width: 440px) {
    .header__img {
        width: 12em
    }
}

@media screen and (min-width: 500px) {
    .footer__list li{
        width: 30%;
    }
}

@media screen and (min-width: 740px) {
    body {
        background: 
            radial-gradient(transparent 20%, black),
            url(../../imgs/background.jpg);
    }

    .aux {
        width: 28.125em;
        background-color: rgba(0, 0, 0, .8);
        padding: 3em 4em;
        box-sizing: border-box;
    }

    .content {
        margin: 5em 0 6em;
    }

    .footer {
        border: none;
        padding: 0;
    }

    .footer .aux {
        width: 100%;
        padding: 1em 1em 10em;
        box-sizing: border-box;
    }

    .footer li{
        width: 22%;
    }
}

@media screen and (min-width: 1200px) {
    .footer .aux {
        padding-left: 10em;
        width: 100%;
    }
}